
# Requirement for the project: podcast-reaper
requests # for download
openai-whisper # voice to text
mutagen # lercture mp3 metadata
reportlab # for pdf

# Written using linter: ruff, uncomment for debugging
# ruff